@model IEnumerable<WebApplication1.Models.API>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            <span class="loading hidden"><i class="fa fa-circle-o-notch fa-spin"></i></span>
            @Html.ActionLink("Get Data", "GetData", new { id=item.ID }, new { @class="get-data" })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $(".get-data").click(function (e) {
            e.preventDefault();
            var item = this;
            var $loading = $(item).parent().find(".loading");
            $loading.removeClass("hidden");
            $(item).addClass("hidden");
            $.getJSON(item.href, function (d) {
                if (console) {
                    console.log(d.Result);
                }
               $loading.addClass("hidden");
                $(item).removeClass("hidden");
            });
        })
    });    
</script>
